.wrapper {
  background-color: var(--color-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: var(--spacing-md);
}

.wrapper blockquote {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-black);
  text-align: center;
}

.wrapper span {
  font-style: italic;
  color: var(--color-black);
  font-size: 1rem;
  font-family: "Raleway";
  font-weight: 600;
}

@media only screen and (max-width: 650px) {
  .wrapper {
    padding: 3rem 1.5rem;
  }
  .wrapper blockquote {
    font-size: 1.15rem;
  }
}
