.wrapper {
  height: 100vh;
  background-color: var(--color-primary);
  position: relative;
  overflow: hidden;
}

.wrapper * {
  z-index: 2;
}

.wrapper .center_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.wrapper .center_content button {
  background-color: var(--color-accent);
}

.wrapper .center_content h2 {
  font-family: "Raleway";
  font-size: 1.65rem;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: var(--spacing-xs);
}

.wrapper .center_content h1 {
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 5rem;
  margin-bottom: var(--spacing-md);
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.wrapper .center_content h1 span {
  display: block;
  line-height: 1;
}

.wrapper .side_social {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 1.5rem;
  position: absolute;
  left: 2rem;
  bottom: 0;
}

.wrapper .side_social a {
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.wrapper .side_social a:hover {
  opacity: 1;

}

.wrapper .side_social a img {
  width: 22px;
  height: 22px;
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.wrapper .side_social a:hover img {
  transform: scale(1.2);
}

.wrapper .side_social .line {
  display: block;
  width: 1px;
  height: 200px;
  opacity: 0.7;
  background-color: var(--color-white);
  margin-top: 1.5rem;
}

.wrapper .side_email {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 1.5rem;
  position: absolute;
  line-height: 1;
  right: 2rem;
  bottom: 0;
}

.wrapper .side_email a {
  color: var(--color-white);
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  letter-spacing: 2px;
  opacity: 0.7;
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.wrapper .side_email:hover a {
  opacity: 1;
}

.wrapper .side_email .line {
  display: block;
  width: 1px;
  height: 200px;
  opacity: 0.7;
  background-color: var(--color-white);
  margin-top: 1.5rem;
}

.scroll_indicator {
  width: 21px;
  height: 35px;
  border: 2px solid var(--color-white);
  border-radius: 35px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.7;
}

.scroll_indicator::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--color-white);
  position: absolute;
  left: 50%;
  border-radius: 100%;
  animation: scroll-down 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

.video_background_overlay {
  overflow: hidden;
  filter: invert(1);
  opacity: 0.3;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video_background_overlay {
  height: 100vh;
}

.video_background_overlay video {
  object-fit: cover;
  height: 100vh;
}

@keyframes scroll-down {
  from {
    transform: translateX(-50%) translateY(50%);
    opacity: 1;
  }

  to {
    transform: translateX(-50%) translateY(200%);
    opacity: 0;
  }
}



@media only screen and (max-width: 1050px) {
  .wrapper .center_content h1 {
    font-size: 4rem;
  }

  .wrapper .center_content h2 {
    font-size: 1.5rem;
  }
}


@media only screen and (max-width: 850px) {
  .wrapper .center_content h1 {
    font-size: 3.25rem;
  }

  .wrapper .center_content h2 {
    font-size: 1.25rem;
  }
}


@media only screen and (max-width: 650px) {
  .wrapper .center_content h1 {
    font-size: 2.5rem;
  }

  .wrapper .side_email {
    display: none;
  }

  .wrapper .side_social {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .wrapper .center_content h1 {
    flex-direction: column;
  }

  .wrapper .center_content h2 {
    margin-bottom: var(--spacing-md);
  }
}
