.wrapper {
  height: 100vh;
  background-color: var(--color-primary);
  position: relative;
  overflow: hidden;
  padding: 0 var(--spacing-md);
  display: flex;
}

.wrapper * {
  z-index: 5;
}

.wrapper .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.wrapper .content button {
  background-color: var(--color-accent);
}

.wrapper .content h1 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  margin-bottom: var(--spacing-sm);
  line-height: 1;
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--color-white);
}

.wrapper .content h2 {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
  font-size: 2.5rem;
  display: block;
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-white);
}

.wrapper .content h2 span {
  color: var(--color-accent);
}

.wrapper .content p {
  font-size: 1rem;
  font-family: "Raleway";
  color: var(--color-white);
  width: 50%;
  margin-bottom: var(--spacing-md);
  opacity: 0.8;
}


.wrapper .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 1.5rem;
}

.wrapper .social a {
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.wrapper .social a:hover {
  opacity: 1;

}

.wrapper .social a img {
  width: 22px;
  height: 22px;
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.wrapper .social a:hover img {
  transform: scale(1.2);
}

.wrapper .social .line {
  display: block;
  width: 1px;
  height: 200px;
  opacity: 0.7;
  background-color: var(--color-white);
  margin-top: 1.5rem;
}

.scroll_indicator {
  width: 21px;
  height: 35px;
  border: 2px solid var(--color-white);
  border-radius: 35px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.7;
}

.scroll_indicator::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--color-white);
  position: absolute;
  left: 50%;
  border-radius: 100%;
  animation: scroll-down 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

.video_background_overlay {
  overflow: hidden;
  filter: invert(1);
  opacity: 0.3;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video_background_overlay {
  height: 100vh;
}

.video_background_overlay video {
  object-fit: cover;
  height: 100vh;
}

@keyframes scroll-down {
  from {
    transform: translateX(-50%) translateY(50%);
    opacity: 1;
  }

  to {
    transform: translateX(-50%) translateY(200%);
    opacity: 0;
  }
}


@media only screen and (max-width: 1050px) {
  .wrapper .content h1 {
    font-size: 3rem;
  }

  .wrapper .content p {
    width: 70%;
  }
}


@media only screen and (max-width: 850px) {
  .wrapper {
    padding: 0 var(--spacing-sm);
  }
  .wrapper .content p {
    width: 90%;
  }

  .wrapper .social {
    display: none;
  }
}


@media only screen and (max-width: 650px) {
  .wrapper {
    padding: 0 1.5rem;
  }

  .wrapper .content h1 {
    font-size: 2.5rem;
  }

  .wrapper .content h2 {
    font-size: 2rem;
  }

  .wrapper .content p {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .wrapper .content{
    align-items: center;
    text-align: center;
  }
}
