:root {
    --color-black: #171717;
    --color-grey-dark: #444444;
    --color-grey-light: #A8A8A8;
    --color-white: #EDEDED;
    --color-primary: #a652ff; 
    --function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    --primary-font: 'Oswald', sans-serif;
    --secondary-font: 'Roboto Mono', monospace;
    --spacing-lg: 6rem;
    --spacing-md: 4rem;
    --spacing-sm: 2rem;
}


