@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  /* cursor: none; */
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--color-white);
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  display: block;
}
