:root {
    --color-accent: #EF6C35;
    --color-dark: #222831;
    --color-light: #F6F6F6;
    --color-dim-dark: #606470;
    --color-dim-light: #EEEEEE;

    --color-card-background: #1f2228;

    --transition-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);

    --font-primary: 'Oswald', sans-serif;
    --font-secondary: 'Raleway', sans-serif;
    
    --spacing-xl: 8rem;
    --spacing-lg: 6rem;
    --spacing-md: 4rem;
    --spacing-sm: 2rem;
    --spacing-xs: 1rem;
}

