:root {
    --color-black: #2b2d42;
    --color-white: #eff1f3;
    --color-primary: #003049;
    --color-accent: #d62828;
    --color-gray: #dee2e6;
    
    --transition-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);

    --primary-font: 'Oswald', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    
    --spacing-xl: 8rem;
    --spacing-lg: 6rem;
    --spacing-md: 4rem;
    --spacing-sm: 2rem;
    --spacing-xs: 1rem;
}

