:root {
    
    --color-accent: #d62828;
    
    /* Dark Theme */
    --color-primary: #0a192f;
    --color-primary-light: #112240;
    --color-text: #8892b0;
    --color-heading: #dee2e6;

    --transition-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);

    --primary-font: 'Oswald', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    
    --spacing-xl: 8rem;
    --spacing-lg: 6rem;
    --spacing-md: 4rem;
    --spacing-sm: 2rem;
    --spacing-xs: 1rem;
}

