.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-xs) var(--spacing-sm);
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}

.header .header_left .logo {
  width: 35px;
  height: 35px;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
}

.header.active .header_left .logo {
  opacity: 0;
}

.header .header_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.header .header_right {

}

.header .header_right .burger {
  display: flex;
  outline: none;
  height: 30px;
  width: 30px;
  border: 0px;
  padding: 0px;
  background: transparent;
  transition: all 0.2s ease-out;
}

.header .header_right .burger span {
  width: 30px;
  height: 3px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease-out;
  background-color: var(--color-light);
}

.header.active .header_right .burger span {
  background-color: var(--color-light);
}

.header .header_right .burger span:nth-of-type(1) {
  transform: translateY(calc(-50% + -5px));
}

.header .header_right .burger span:nth-of-type(2){
  transform: translateY(calc(-50% + 5px));
}

.header .header_right .burger.active span:nth-of-type(1) {
  transform: translateY(calc(-50% + 0px)) rotate(45deg);
}

.header .header_right .burger.active span:nth-of-type(2) {
  transform: translateY(calc(-50% + 0px)) rotate(-45deg);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-transform: uppercase;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  transition: 0.4s all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  clip-path: circle(0% at 100% 0);
  z-index: 9;
}


.menu.active {
  clip-path: circle(150% at 100% 0);
}

.menu a {
  font-size: 3rem;
  color: var(--color-heading);
  font-weight: 500;
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  position: relative;
  opacity: 0;
}

.menu.active a {
  opacity: 1;
}

.menu.active a {
  transition-delay: 0;
}

.menu a:hover {
  color: var(--color-accent);
}

@media only screen and (max-width: 650px) {
  .header {
    padding: 1rem 1.25rem;
  }
  .menu a {
    font-size: 2rem;
  }
}