.header {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: 0.2s all var(--transition-function);
}

.header.dark {
  background-color: transparent;
}

.header.light {
  background-color: var(--color-white);
  box-shadow: 0 0 5px 0 rgba(43, 45, 66, 0.2);
}

.header .header_left .logo {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.header .header_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.header .header_right .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-transform: uppercase;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  transition: 0.4s all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  clip-path: circle(0% at 100% 0);
}

.header .header_right .links.active {
  clip-path: circle(150% at 100% 0);
}

.header .header_right .links a {
  font-size: 3rem;
  color: var(--color-white);
  font-weight: 500;
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  position: relative;
  opacity: 0;
}

.header .header_right .links.active a {
  opacity: 1;
}

.header .header_right .links.active a {
  transition-delay: 0;
}

.header .header_right .links a:hover {
  color: var(--color-accent);
}

.burger {
  display: flex;
  outline: none;
  height: 30px;
  width: 30px;
  border: 0px;
  padding: 0px;
  background: transparent;
  transition: all 0.2s ease-out;
  position: fixed;
  right: 2rem;
  top: 1rem;
  z-index: 20;
}

.burger span {
  width: 30px;
  height: 3px;
  display: block;
  position: absolute;
  top: 50%;
  transition: all 0.2s ease-out;
  will-change: transform;
}

.burger.light span {
  background: var(--color-black);
}

.burger.dark span{
  background: var(--color-white);
}

.burger span:nth-of-type(1) {
  transform: translateY(-5px);
}

.burger span:nth-of-type(2){
  transform: translateY(5px);
}

.active.burger span:nth-of-type(1) {
  transform: translateY(0px) rotate(45deg);
}

.active.burger span:nth-of-type(2) {
  transform: translateY(0px) rotate(-45deg);
}

.active.burger.light span, .active.burger.dark span {
  background-color: var(--color-white);
}

@media only screen and (max-width: 650px) {
  .header {
    padding: 1rem 1.25rem;
  }
  .burger {
    right: 1.5rem;
  }
}