.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-light);
}

.wrapper .left_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing-md);
}

.wrapper .left_section h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: var(--spacing-sm);
  color: var(--color-dark);
}

.wrapper .left_section p {
  font-size: 1rem;
  margin-bottom: var(--spacing-xs);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: var(--color-dim-dark);
}

.wrapper .left_section p:last-of-type {
  margin-bottom: 0;
}

.wrapper .left_section button {
  margin-top: var(--spacing-md);
}

.wrapper .right_section {
  background-image: url("../../assets/me.jpg");
  background-size: cover;
  background-position: center top;
}

@media only screen and (max-width: 850px) { 
  .wrapper {
    grid-template-columns: 1fr;
  }

  .wrapper .right_section{
    height: 700px;
  }

  .wrapper .left_section {
    order: 2;
    padding: var(--spacing-sm);
  }

  .wrapper .right_section {
    order: 1;
  }
}

@media only screen and (max-width: 650px) {
  .wrapper .left_section {
    order: 2;
    padding: var(--spacing-sm) 1.5rem;
  }

  .wrapper .right_section{
    height: 50vh;
  }

}