.cursor {
    width: 36px;
    height: 36px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    z-index: 10000;
    border: 2px solid var(--color-white);
    border-radius: 100%;
    mix-blend-mode: difference;
    pointer-events: none;
    overflow: hidden;
    transform-origin: center center;
    transition: width 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), height 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.cursor_follow {
    width: 20px;
    height: 20px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    z-index: 10000;
    background-color: var(--color-white);
    mix-blend-mode: difference;
    border-radius: 100%;
    pointer-events: none;
    overflow: hidden;
    transform-origin: center center;
    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media only screen and (max-width: 850px) {
    .cursor, .cursor_follow {
        display: none;
    }
}